.table {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  align-content: center;
  border: 1px solid grey dotted;
}

.table > span {
  background: #222244;
  color: #fff;
  padding: 20px;
}

.table h1 {
  color: grey;
  border-bottom: 1px dotted #fff;
  margin-top: 10px;
  padding: 10px;
  font-weight: 300;
}

.MembersDataList {
  padding: 10px;
}

.MembersDataList > p {
  padding: 10px;
  background-color: #d7e8ef;
  color: #e37933;
}

.MembersDataList > p::first-line {
  font-size: 110%;
  color: #14675e;
  text-decoration: underline;
}

.MembersDataList > p::first-letter {
  color: #222244;
  text-decoration: underline;
}
